<% layout('/layouts/boilerplate') -%>
<body>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <h3>Edit your Listing</h3>
      <form
        method="POST"
        action="/listings/<%= listing._id %>?_method=PUT"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-lable">Title</label>
          <input
            name="listing[title]"
            value="<%= listing.title %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a title</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-lable">Description</label>
          <textarea name="listing[description]" class="form-control" required>
<%= listing.description %>
</textarea
          >
          <div class="invalid-feedback">Please enter a short description</div>
        </div>

        <div class="mb-3">
          Original Lising Image <br />
          <img src="<%= originalImageUrl %>" alt="img" />
        </div>

        <div class="row">
          <div class="col-md-8">
            <div class="mb-3">
              <label for="image" class="form-lable">Upload New Image</label>
              <input name="listing[image]" type="file" class="form-control" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="mb-3">
              <label for="category" class="form-lable">Select category</label>
              <select
                class="form-select"
                id="category"
                name="listing[category]"
                required
                data-selected="<%= listing.category %>"
              >
                <option value="rooms" <%= listing.category === "rooms" ? "selected" : "" %>>rooms</option>
                <option value="mountains" <%= listing.category === "mountains" ? "selected" : "" %>>mountains</option>
                <option value="castles" <%= listing.category === "castles" ? "selected" : "" %>>castles</option>
                <option value="camping" <%= listing.category === "camping" ? "selected" : "" %>>camping</option>
                <option value="farms" <%= listing.category === "farms" ? "selected" : "" %>>farms</option>
                <option value="arctic" <%= listing.category === "arctic" ? "selected" : "" %>>arctic</option>
                <option value="domes" <%= listing.category === "domes" ? "selected" : "" %>>domes</option>
                <option value="boats" <%= listing.category === "boats" ? "selected" : "" %>>boats</option>
              </select>
              <div class="invalid-feedback">Select appropriate Category</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-lable">Price</label>
            <input
              name="listing[price]"
              type="number"
              value="<%= listing.price %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Price should be valid</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-lable">Country</label>
            <input
              name="listing[country]"
              value="<%= listing.country %>"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Country name should be valid</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-lable">Location</label>
          <input
            name="listing[location]"
            value="<%= listing.location %>"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid</div>
        </div>
        <button class="btn btn-dark edit-btn my-3">Edit</button>
      </form>
    </div>
  </div>
</body>
